{% extends "base.html" %}
{% block content %}



  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome</h1>
      <p>Hello and welcome, this is a simple site I made to post work im doing and allow other people to do the same. The site is in its infancy and will be added to overtime</p>
      <br><br>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>The Posting Board</h2>
        <p>Until the forum is finished I thought I would create somewhere where anyone can post something. Something short or long, share ideas and projects.</p>      
      </div>
      <div class="col-md-4">
        <h2>The Forum</h2>
        <p>This is still a work in progres. I did not want to hold back deploying the site while the forum is still being finished.</p>     
      </div>
      <div class="col-md-4">
        <h2>WalkThroughs</h2>
        <p>These are not in anyways a tutorial. I will post how im creating and going thorugh some of the projects im working on. 
        These are posted in a series over time. For reference of my self and others.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p><a class="btn btn-secondary" href="{% url 'blog-home'%}" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <p><a class="btn btn-secondary" href="{% url 'homepage' %}" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <p><a class="btn btn-secondary" href="{% url 'walkthroughs' %}" role="button">View details &raquo;</a></p>
      </div>
    </div>
    <hr>

  </div> <!-- /container -->



{% endblock content %}