{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
  <h3>Profile</h3>
  <ul class="list-unstyled">
    <li>First name: <strong>{{user.first_name}}</strong></li>
    <li>Last name: <strong>{{user.last_name}}</strong></li>
    <li>Display name: <strong>{{user.display_name}}</strong></li>
    <li>Email: <strong>{{user.email}}</strong></li>
    
    <img class='rounded-circle article-img' src="{{ user.profile.avatar.url }}">

    <li>{% if request.user.profile.account_verified %}Verified{% else %}Unverified{% endif %}</li>
  </ul>
  <a href="{% url 'profile_edit' %}">Edit</a>   
  <div class='row'>
    
  </div> 
</div>
{% endblock content %}
