{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class='container'>
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <form action="{% url 'account_profile' %}" method="post" class="form">
        {% csrf_token %}
        {{ form | crispy }}
        
        <button type="submit" class="btn btn-primary"> Submit </button>
      </div>
      <div class="col-md-6 col-lg-6">
        <ul>
          <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
          <li><a href="{% url 'account_email' %}">Edit Email Addresses</a></li>
          <li><a href="{% url 'socialaccount_connections' %}">Edit Social Logins</a></li>
        </ul>
      </div>
    </div>
  </div>


{% endblock %}